body {
    text-align: center;
}

button {
    margin: 20px;
    padding: 10px 20px;
    background: #0074d9;
    color: #fff;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    transition: 0.5s;
}
    